<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    <link href="assets/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/vertical-ribbon.css">

    <title>Niagahoster | Welcome</title>
  </head>
  <body>
      
    <!-- top bar section -->
    <section>
      <div id="containerTopBar" class="container">
        <div id="topBarLeft">
          <div class="vertical-ribbon-image">
            <div class="vertical-ribbon">
              <i class="fa fa-tag" aria-hidden="true"></i>
              </div>
          </div>
          <p class="vertical-ribbon-message-text">Gratis Ebook 9 Cara Cerdas Menggunakan Domain <a href="#" class="link-color-default">[x]</a></p>
        </div>

        <div id="topBarRight" class="ml-md-auto d-md-flex">
          <a href="" class="my-auto mx-3 link-color-default">
            <i class="fa fa-phone mr-1" aria-hidden="true"></i> 0274-5305505
          </a>
          <a href="" class="my-auto mx-3 link-color-default">
            <span class="oi oi-chat mr-1" aria-hidden="true"></span> Live Chat
          </a>
          <a href="" class="my-auto mx-3 link-color-default">
            <i class="fa fa-user-circle mr-1" aria-hidden="true"></i> Member Area
          </a>
        </div>
      </div>
    </section>
    <!-- end section top bar -->

    <!-- navbar section -->
    <nav class="navbar navbar-expand-lg navbar-light mt-md-2">
      <div class="container">
        <a class="navbar-brand w-25" href="#">
          <img src="/assets/images/niaga-hoster-logo.png" class="w-100">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Hosting</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Domain</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Server</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Website</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Afiliasi</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Promo</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Pembayaran</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Review</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Kontak</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>
          
        </div>

      </div>      
    </nav>
    <!-- end section navbar -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>